@import url(https://fonts.googleapis.com/css?family=Roboto);
@import '~normalize.css/normalize';

$font: Roboto, Helvetica, sans-serif;

body {
  background-color: lightblue;
  font-family: $font;
}

h1 {
  font-size: 4em;
  margin-bottom: 0.3em;
}

table, th, td {
   border: 1px solid black;
   padding: 0;
}

table {
  border-collapse: collapse;
}

#crossword-grid input, .square {
  border: none;
  box-sizing: border-box;
  display: inline-block;
  font-size: 1.6em;
  font-family: inherit;
  height: 40px;
  text-align: center;
  text-transform: uppercase;
  width: 40px;

}

input {
  padding-top: 7px;
  font-family: $font;
}

.square {
  background-color: white;
  padding: 8px 1px 1px 1px;
}

.black input, .black .square {
  background-color: black;
}

.black-square-mode {

  .white .square:hover {
    background-color: powderblue;
    cursor: default;
  }
}

.toggle-button {

  background-color: white;
  border-width: 0;

  &:focus {
    outline: none;
  }

  &.on {
    background-color: navy;
    color: white;
  }
}

.clue-number-wrapper {
  position: relative;

  .clue-number {
    position: absolute;
    top: 1px;
    left: 3px;
    font-size: .6em;
  }

}

#page-container {
  padding: 0 1.5em;
}

#control-panel {
  padding-bottom: 5px;

  div {
    display: inline-block;
  }

  label {
    padding-left: 10px;

    span {
      padding-left: 5px;
    }
  }
}

.hidden {
  display: none !important;
}